@mixin valign {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main {
	margin: 0 auto;
	width: 500px;
	background-color: #FFF;
	padding: $base-padding;
	border: 1px solid #ddd;
	border-radius: $base-padding / 2;
	box-shadow: 0 0 10px 1px #ddd;
	@include valign;
}

.title {
	font-weight: normal;
	text-align: center;
	text-transform: capitalize;
}

.description {
	text-align: center;
	color: #666;
}
